@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&family=Roboto+Condensed:wght@300;700&family=Roboto:wght@300&display=swap');

body{
    font-family: 'poppins',sans-serif;
    font-size: 18px;
}

h1{
    text-align: center;
    margin-top: 200p x;
}